@import "../../../placeholders";
@import "../../../mixins";

.simple-forecast-container {
  @extend %container-vertical;
  width: 180px;
  max-height: 280px;
  height: fit-content;
}

@include responsive-mobile() {
  .simple-forecast-container {
    width: fit-content;
    height: fit-content;
    padding: 8px;
    gap: 4px;
    border-radius: 8px;

    &__date-info {
      &__detail {
        &__date {
          display: none;
        }

        &__weekday {
          font-size: 12px;
        }
      }
    }

    &__weather {
      align-items: center;

      img {
        width: 36px;
        height: 36px;
      }

      &__temperature {
        align-items: center;

        .label {
          display: none
        }

        .value {
          font-size: 12px
        }
      }
    }
  }
}

@include responsive-tablet() {
  .simple-forecast-container {
    width: fit-content;
    max-height: 280px;
    padding: 16px;
    gap: 4px;
    border-radius: 8px;

    .simple-forecast-container__date-info {
      &__detail {
        &__date {
          font-size: 12px
        }

        &__weekday {
          font-size: 12px;
        }
      }
    }

    &__weather {
      img {
        width: 56px;
        height: 56px;
      }

      align-items: center;

      &__temperature {
        align-items: center;

        .label {
          display: none
        }

        .value {
          font-size: 16px
        }
      }
    }

  }
}
