<div class="simple-forecast-container">
  <div class="simple-forecast-container__date-info flex flex-column align-items-center">
    <div class="simple-forecast-container__date-info__detail__date">{{ date() | date:"MMM, dd" }}</div>
    <div class="simple-forecast-container__date-info__detail__weekday">{{ generateDisplayedDayOfWeek() }}</div>
  </div>
  <div class="simple-forecast-container__weather flex-column w-full flex align-items-center">
    <img ngSrc="assets/illustrations/weather/{{iconName()}}.svg" width="54" height="54" priority="true" [alt]="iconAlt()">
    <div class="simple-forecast-container__weather__temperature w-full flex flex-column">
      <div class="temperature-info flex flex-row">
        <div class="label">Highest:</div>
        <div class="value">{{ highestTemperature() }}°C</div>
      </div>
      <div class="temperature-info flex flex-row">
        <div class="label">Lowest:</div>
        <div class="value">{{ lowestTemperature() }}°C</div>
      </div>
    </div>
  </div>
</div>
