<div class="w-full h-full flex flex-column align-items-center gap-5">
  <app-search-form (search)="handleSearch($event)"></app-search-form>
  @if((resultList | async)?.length !== 0) {
    <div class="flex flex-row gap-4">
      @for(record of resultList | async; track $index) {
        <app-overview-info-card
          [date] = "record.date"
          [iconName]="record.data[getFirstForecastIndex(record.data)].weather[0].icon"
          [highestTemperature]="getHighestAndLowestTemperature(record.data).highest"
          [lowestTemperature]="getHighestAndLowestTemperature(record.data).lowest"
          [iconAlt]="record.data[getFirstForecastIndex(record.data)].weather[0].description"
        >
        </app-overview-info-card>
      }
    </div>
    <div class="flex flex-column gap-3">
      <div class="sun-info-card">
        <span class="text-7xl icon-sunrise"></span>
        <div class="flex flex-column">
          <div>Sunrise</div>
          <div class="text-3xl">{{getSunriseAndSunsetTime().sunriseAt}}</div>
        </div>
      </div>
      <div class="sun-info-card">
        <span class="text-7xl icon-sunset"></span>
        <div class="flex flex-column">
          <div>Sunset</div>
          <div class="text-3xl">{{getSunriseAndSunsetTime().sunsetAt}}</div>
        </div>
      </div>
    </div>
  }
</div>


