<div class="weather-content w-full h-full flex flex-column">
  <div class="weather-content__general align-items-start col-12 xl:col-5">
    <app-search-form (search)="handleSearch($event)"></app-search-form>
    @if(current() !== undefined) {
      <div class="flex flex-row w-full justify-content-between">
        <div class="weather-content__general__main">
          <div class="temperature">{{current()!.main!.temp | number: '1.0-0'}}°C</div>
          <div class="description">{{current()!.weather[0]!.description}}</div>
          <div class="extra">
            <div class="extra__detail text-800">
              <div>Wind speed</div>
              <div>{{current()!.wind.speed}} m/s</div>
            </div>
            <div class="extra__detail text-800">
              <div>Visibility</div>
              <div>{{current()!.visibility}} m</div>
            </div>
          </div>
        </div>
        <img alt="{{current()!.weather[0].description}}" src="assets/illustrations/weather/{{current()!.weather[0].icon}}.svg" height="128" width="128"/>
      </div>
    }
  </div>

  @if((resultList | async)?.length !== 0) {
    <div class="weather-content__forecast-list flex flex-row col-12">
      @for(record of resultList | async; track $index) {
        <app-simple-forecast-card
          [index]="$index"
          [date] = "record.date"
          [iconName]="record.data[getFirstForecastIndex(record.data)].weather[0].icon"
          [highestTemperature]="getHighestAndLowestTemperature(record.data).highest"
          [lowestTemperature]="getHighestAndLowestTemperature(record.data).lowest"
          [iconAlt]="record.data[getFirstForecastIndex(record.data)].weather[0].description"
          (clickEvent)="handleCardClick($event)"
        >
        </app-simple-forecast-card>
      }
    </div>
  }
</div>


