@import "../placeholders";
@import "../mixins";

.weather-content {
  &__general  {
    @extend %container-vertical;
    padding: 32px;
    min-width: 300px;
    height: fit-content;
    &__main {
      display: flex;
      flex-direction: column;
      min-width: 150px;
      .temperature {
        font-size: 48px;
      }

      .description {
        font-size: 24px;
      }

      .extra {
        &__detail {
          font-size: 12px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }

  }

  &__forecast-list {
    gap: 24px;
  }
}

@include responsive_mobile() {
  .weather-content {
    &__general  {
      @extend %container-vertical;
      min-width: 280px;
      &__main {
        display: flex;
        flex-direction: column;
        min-width: 160px;
        .temperature {
          font-size: 32px;
        }

        .description {
          font-size: 16px;
        }

        .extra {
          &-detail {
              font-size: 12px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
        }
      }
      img {
        width: 80px;
        height: 80px;
      }
    }

    &__forecast-list {
      gap: 8px;
    }
  }
}
