@import "../placeholders";
@import "../mixins";

.weather-content {
  gap: 16px;
  &__general  {
    @extend %container-vertical;
    padding: 24px;
    height: fit-content;
    &__main {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .temperature {
        font-size: 48px;
      }

      .description {
        font-size: 16px;
      }

      .extra {
        &__detail {
          font-size: 12px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }

  }

  &__forecast-list {
    justify-content: space-between;
    padding: unset;
    margin: unset;
  }
}

@include responsive_tablet() {
  .weather-content {
    &__general  {
      &__main {
        .description {
          font-size: 24px;
        }
      }
    }

    &__forecast-list {
      gap: 24px;
      app-simple-forecast-card {
        flex: 1
      }
    }
  }
}
