@font-face {
    font-family: 'poppins-light';
    src: url("./assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'poppins-medium';
    src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'poppins-regular';
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'poppins-bold';
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'weather-specs';
  src:  url('assets/fonts/Weather/weather-specs.eot?biwysj');
  src:  url('assets/fonts/Weather/weather-specs.eot?biwysj#iefix') format('embedded-opentype'),
  url('assets/fonts/Weather/weather-specs.ttf?biwysj') format('truetype'),
  url('assets/fonts/Weather/weather-specs.woff?biwysj') format('woff'),
  url('assets/fonts/Weather/weather-specs.svg?biwysj#weather-specs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
