@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/Icomoon-Weather/icomoon.eot?l277zo');
  src:  url('assets/fonts/Icomoon-Weather/icomoon.eot?l277zo#iefix') format('embedded-opentype'),
    url('assets/fonts/Icomoon-Weather/icomoon.ttf?l277zo') format('truetype'),
    url('assets/fonts/Icomoon-Weather/icomoon.woff?l277zo') format('woff'),
    url('assets/fonts/Icomoon-Weather/icomoon.svg?l277zo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 48px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-01d:before {
  content: "\e900";
  color: #ffac33;
}
.icon-01n:before {
  content: "\e901";
  color: #555761;
}
.icon-02d .path1:before {
  content: "\e902";
  color: rgb(255, 172, 51);
}
.icon-02d .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 172, 51);
}
.icon-02d .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(225, 232, 237);
}
.icon-02n .path1:before {
  content: "\e905";
  color: rgb(85, 87, 97);
}
.icon-02n .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(85, 87, 97);
  opacity: 0.6;
}
.icon-03d:before {
  content: "\e907";
  color: #b0e9ff;
}
.icon-03n:before {
  content: "\e908";
  color: #b0e9ff;
}
.icon-04d .path1:before {
  content: "\e909";
  color: rgb(204, 214, 221);
}
.icon-04d .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(225, 232, 237);
}
.icon-04n .path1:before {
  content: "\e90b";
  color: rgb(204, 214, 221);
}
.icon-04n .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(225, 232, 237);
}
.icon-09d .path1:before {
  content: "\e90d";
  color: rgb(225, 232, 237);
}
.icon-09d .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(93, 173, 236);
}
.icon-09n .path1:before {
  content: "\e90f";
  color: rgb(225, 232, 237);
}
.icon-09n .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(93, 173, 236);
}
.icon-10d .path1:before {
  content: "\e911";
  color: rgb(255, 172, 51);
}
.icon-10d .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 172, 51);
}
.icon-10d .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(225, 232, 237);
}
.icon-10d .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(93, 173, 236);
}
.icon-10n .path1:before {
  content: "\e915";
  color: rgb(0, 0, 0);
}
.icon-10n .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(225, 232, 237);
}
.icon-10n .path3:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(93, 173, 236);
}
.icon-11d .path1:before {
  content: "\e918";
  color: rgb(244, 144, 12);
}
.icon-11d .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(225, 232, 237);
}
.icon-11n .path1:before {
  content: "\e91a";
  color: rgb(244, 144, 12);
}
.icon-11n .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(225, 232, 237);
}
.icon-13d:before {
  content: "\e91c";
  color: #88c9f9;
}
.icon-13n:before {
  content: "\e91d";
  color: #88c9f9;
}
.icon-50d:before {
  content: "\e91e";
  color: #bebebe;
}
.icon-50n:before {
  content: "\e91f";
  color: #bebebe;
}
