/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "colors";
@import url('font.css');

* {
  font-family: 'poppins-regular', sans-serif;
  div {
    display: inline-block;
  }
}

html, body {
  background-color: $lightGray;
  width: 100%;
  height: 100%;
  margin-top: 24px;
  margin-left: unset;
  margin-right: unset;
  padding-left: 72px;
  padding-right: 72px;
}
